
<div class="columns is-multiline">
<%@customers.each do |customer|%>
  <div class="column is-one-quarter">
    <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%=customer.name%></p>
    </header>

    <div class="card-image">
    <figure class="image is-4by3">
      <%=image_tag(customer.image, size: "100")%>
    </figure>
    </div>
    <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p> Phone: <%=customer.phone%></p>
            <p> Email: <%=customer.email%></p>
            <p> Notes: <%=customer.notes%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
