
<div class="columns is-multiline">
<%@customers.each do |customer|%>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure >
              <%=image_tag(customer.image, size: "100")%>
              </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=link_to customer.name, root_path%></p>
            <p> <%=customer.phone%></p>
            <p> <%=customer.email%></p>
            <p> <%=customer.notes%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
